{{ define "main"}}

<!-- {{ range (.Paginator 3).Pages }}
<article>
	<a href="{{ .Permalink }}"><h1>{{ .Title }}</h1></a>
	<time>{{ .Date.Format "2006-01-02" }}</time>

	<div class="content">
		{{ .Content }}
	</div>
</article>
{{ end }}

{{- partial "paginator.html" . -}} -->

{{ end }}