<footer>
	<nav>
		<a href="/" class="posts">home</a>
		<a href="/posts" class="posts">see all posts</a>
	</nav>
	<p class="copyright">&copy; Koen Westendorp, {{ dateFormat "2006" .Site.LastChange }}</p>
</footer>