<head>
	<title>
		{{ .Site.Title }} 
		{{ if not .IsHome }}
			⤍ {{ .Title }}
		{{ end }}
	</title>
	
	<!-- meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Stylesheets -->
	{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/myscss")) }}
	{{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
</head>