<header>
	<h1>
		<a href="/">{{ .Site.Title }}</a>
	</h1>
	<nav>
		<ul>
			<li><a href="/"      class="{{ if .IsHome }}current-page{{ end }}">blog</a></li>
			<li><a href="/about" class='{{ if eq .Title "About me" }}current-page{{ end }}'>about</a></li>
		</ul>
	</nav>
</header>