<nav class="paginator">
	<hr>

	<ul>
		<li class="page-link">
			{{ if .Paginator.HasPrev }}
				<a href='{{ .Paginator.Prev.URL }}' class="active">⤌ newer</a>
			{{ else }}
				<p class="inactive">⤌ newer</p>
			{{ end }}
		</li>
		<li class="page-number">
			<p class="page-number">
				{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}
			</p>
		</li>
		<li class="page-link">
			{{ if .Paginator.HasNext }}
				<a href='{{ .Paginator.Next.URL }}' class="active">older ⤍</a>
			{{ else }}
				<p class="inactive">older ⤍</p>
			{{ end }}
		</li>
	</ul>
</nav>