figure {
	// width: 100%;
	width: calc(100% + 2 * 2rem);
	max-width: calc(100% + 2 * 2rem);
	margin: 2rem;
	margin-left: -2rem;
	// text-align: center;

	img {
		width: 100%;
	}

	figcaption {
		margin: 1rem 2rem;

		text-align: center;

		p {
			font-style: italic;
			font-family: $f-serif;
			font-size: 1rem;
			font-weight: normal;
			color: $c-text-3;
		}
	}
}

// code blocks
pre {
	padding: 2rem;
	width: calc(100% + 2 * 2rem);
	max-width: 100%;
	// margin: 2rem;
	margin-left: -2rem;

	overflow-x: scroll;

	background-color: $c-gray-3;
	box-shadow: .5rem .5rem 1rem #aaaaaa22;

	code {
		max-width: 100%;
	}
}

// horizontal rule
hr {
	margin: 2rem -2rem;

	border-style: solid;
	border-width: .5px;
	border-bottom: none;
	border-color: $c-text-3;
}
