footer {
	margin-bottom: 1rem;

	display: flex;
	align-items: baseline;
	justify-content: space-between;

	font-size: .75rem;

	nav {
		a {
			padding-right: 1rem;

			color: $c-text-3;
			font-family: $f-sans-serif;

			&:hover, &:focus {
				color: $c-accent;
			}
		}
	}

	p.copyright {
		color: $c-text-3;
		font-style: italic;
		font-family: $f-sans-serif;
	}
}