header {
	position: sticky;
	top: -1rem;
	width: 100%;
	min-height: 4rem;
	
	@media(max-width: 440px) {
		min-height: 2rem;
		margin-bottom: 2rem;
	}
	
	@media(max-width: 375px) {
		min-height: 1.5rem;
		margin-bottom: 1rem;
	}

	margin-bottom: 2rem;

	display: flex;
	align-items: baseline;
	justify-content: space-between;

	background: $c-bg;
	box-shadow: 0rem -4rem 3rem 4rem $c-bg; 

	a {
		font-family: $f-sans-serif;
		text-decoration: none;

		&.current-page {
			text-decoration: underline;
		}
	}

	h1 {
		line-height: 2rem;
		
		@media(max-width: 375px) {
			line-height: 1rem;
			margin-bottom: 0;
		}

		a {
			color: inherit;
			font-size: 1.5rem;
			
			@media(max-width: 440px) {
				font-size: 1.125rem;
			}
			
			@media(max-width: 375px) {
				font-size: .75rem;
			}
		}
	}

	nav {
		ul {
			list-style: none;
			
			@media(max-width: 440px) {
				margin: .75rem;
			}

			li {
				display: inline;
				margin-left: 1rem;
				
				@media(max-width: 375px) {
					font-size: .75rem;
				}
			}
		}
	}
}
