nav.paginator {
	ul {
		padding: 0;

		display: flex;
		align-items: baseline;
		justify-content: space-between;

		list-style: none;
		line-height: 1rem;
	}

	li {
		margin-top: 0;
		
		font-style: italic;
		line-height: 1rem;
		
		a, p {
			line-height: 1rem;
			color: $c-text-2;
			font-family: $f-sans-serif;
			font-size: .75rem;
		}
	}
	
	.active {
		color: $c-accent;
		text-decoration: none;
		font-weight: bold;
	}
}