h1, h2, h3, h4, h5, h5 {
	color: $c-text-0;
	font-family: $f-sans-serif;
}

body {
	font-size: 16px;
}

p, li, time, em, a {
	margin-top: 1rem;

	font-family: $f-serif;
	line-height: 2rem;

	color: $c-text-1;
}

p, li {
	a {
		color: $c-text-1;
		text-decoration-color: $c-accent;
	}
}

a {
	color: inherit;
	transition: .1s;

	&:hover, &:focus {
		opacity: .7;
		color: $c-accent;
	}
}

h1 a {
	font-family: inherit;
	text-decoration: inherit;
	line-height: inherit;
}

// headings
h1, h2, h3, h4 {
	margin-top: 2rem;
	margin-bottom: 0;
}

h1 {
	font-size: 2rem;
	color: $c-text-0;
}

h2 {
	font-size: 1.5rem;
	color: $c-text-1;
}

h3 {
	font-size: 1rem;
	color: $c-text-2;
}

h4 {
	font-size: 1rem;
	font-style: italic;
	color: $c-text-3;
}

// lists
ul, ol {
	color: red;

	@media(min-width: 40rem) {
		padding: 0;
	}
}

// highlighting
mark {
	background-color: $c-accent-light;
}

// code blocks
pre, code, kbd {
	font-size: 1rem;
	line-height: 1.5rem;
	font-family: $f-mono-space;
}

// time 
time {
	color: $c-text-2;
	font-family: $f-sans-serif;
	font-size: .75rem;
	font-style: italic;
}

// list view
li .arrow {
	padding: 0 .5rem;
	color: $c-gray-2;
}
