$c-black: #111;
$c-bg: #fefefe;

$c-accent: #F6BD60;
$c-accent-light: lighten($c-accent, 10%);

$c-gray-0: $c-black;
$c-gray-1: lighten($c-gray-0, 30%);
$c-gray-2: lighten($c-gray-0, 50%);
$c-gray-3: lighten($c-gray-0, 90%);

$c-text-0: $c-black;
$c-text-1: lighten($c-text-0, 20%);
$c-text-2: lighten($c-text-0, 50%);
$c-text-3: lighten($c-text-0, 70%);

$f-sans-serif: "Helvetica", sans-serif;
$f-serif: "Times New Roman", serif;
$f-mono-space: 'JetBrains Mono', 'SF Mono', 'Menlo', monospace;