@import '_variables.scss';
@import '_normalize.scss';

@import '_typography.scss';
@import '_elements.scss';

@import '_header.scss';
@import '_paginator.scss';
@import '_footer.scss';

::selection {
	background: $c-accent-light;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: $c-bg;
}

main, header, footer {
	width: calc(100% - 2 * 2rem);
	max-width: 32rem;

	padding: 0 4rem;

	@media(max-width: calc(32rem + 8rem)) {
		padding: 0 2rem;
	}
}