{{ define "main"}}

{{ range (.Paginator 2).Pages }}
<article id='{{ replace .Title " " "-" }}'>
	<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
	<time>{{ .Date.Format "Monday 02 January, 2006" }}</time>

	<div class="content">
		{{ .Content }}
	</div>
</article>
{{ end }}

{{- partial "paginator.html" . -}}

{{ end }}