{{ define "main" }}
<section class="item-list">
	<h1>{{ .Title }}</h1>
	<ul>
		{{ range .Pages }}
		<li>
			<time>{{ .Date.Format "2006-01-02" }}</time> <span class="arrow">⤍</span> <a href="{{ .Permalink }}">{{ .Title }}</a>
		</li>
		{{ end }}
	</ul>
</section>
{{ end }}