{{ define "main" }}
<article>
	<h1>{{ .Title }}</h1>
	{{ if isset .Params "date" }}
	<time>{{ .Date.Format "Monday 02 January, 2006" }}</time>
	{{ end }}

	<div class="content">
		{{ .Content }}
	</div>
</article>
{{ end }}